.dtree {
	font-family:"ו";
	font-size: 12px;
	color: #000000;
	white-space: nowrap;
	margin-top:-10px;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #000000;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: none;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	
}